.signInOuterContainer {
  margin-top: 5em;
}
.signInInnerContainer {
  width: 30%;
}

.signInSecondTitle {
  padding-bottom: 1em;
}

.signInItems {
  align-items: center;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.signInItemsInputs {
  width: 70%;
}

@media screen and (max-width: 1000px) {
  .signInItems {
    padding-bottom: 1em;
  }
  .signInItems {
    display: block;
  }
  .signInItemsInputs {
    width: 90%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .signInItems {
    padding-bottom: 0.5em;
  }
}
