.contactUsOuterContainer {
  padding: 2em 0 15em 0;
  background-color: whitesmoke;
}

.contactUsInnerContainer {
  width: 90%;
  margin: 0 auto;
}

.contactUsTitle {
  padding-bottom: 1em;
}

.leftAndRightPartItemsParent {
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
}

.contactUsitems {
  display: flex;
  width: 10em;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  padding-bottom: 1em;
}

.contactUsIcons {
  width: 2em;
  border-radius: 70px;
}

.contactUsNumbers {
  font-family: "Times New Roman";
}

@media screen and (max-width: 1000px) {
  .contactUsInnerContainer,
  .contactUsNumbers {
    font-size: 0.7em;
  }
  .contactUsitems{
    width: 7em;
  }
  .contactUsIcons {
    width: 1.5em;
  }
}
@media screen and (max-width: 700px) {
  .contactUsInnerContainer,
  .contactUsNumbers {
    font-size: 0.5em;
  }
  .leftAndRightPartItemsParent{
    margin-left: 25%;
  }
}

@media screen and (max-width: 500px) {
  .contactUsInnerContainer,
  .contactUsNumbers {
    font-size: 0.4em;
  }
  
  .contactUsitems{
    width: 3em;
  }
  .contactUsIcons {
    width: 0.5em;
  }
}

@media screen and (max-width: 400px) {
  .contactUsInnerContainer,
  .contactUsNumbers {
    font-size: 0.3em;
  }
}