.footerOuterContainer {
  background-image: linear-gradient(rgba(0, 0, 46, 0.95), #00002e);
}

.footerInnerContainer {
  padding-top: 4em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footerItemsAndLinksDivision {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.footerColumns {
  flex: 0 1 15%;
}

.footerItems {
  font-size: 0.8em;
  color: lightgray;
  padding: 0.8em 0;
}

.footerItemsTitles {
  padding-bottom: 2em;
  font-size: 1.1em;
  color: white;
}

.footerBrand {
  text-align: center;
}

.footerBramdName {
  font-family: "titr";
  padding-bottom: 0;
}

.footerSocialNetworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerIcons {
  width: 3.5em;
}

.footerIcons:hover {
  transform: scale(1.2);
}

.footerIcons,
.footerLinks:hover {
  cursor: pointer;
  color: aqua;
}

.footerDivider {
  background-image: radial-gradient(
    circle,
    rgba(224, 182, 36, 1) 0%,
    rgba(147, 29, 235, 0.4626984582895658) 100%
  );
  height: 0.1em;
}

.footerRightsManifest {
  color: lightgray;
  padding: 3em 0;
  text-align: center;
}

//responsive//

@media screen and (max-width: 1000px) {
  .footerInnerContainer {
    padding-top: 3em;
  }
  .footerItems {
    font-size: 0.5em;
  }
  .footerItemsTitles {
    font-size: 0.8em;
  }
  .footerColumns {
    flex-basis: 20%;
  }
}

@media screen and (max-width: 800px) {
  .footerItems {
    font-size: 0.4em;
  }
  .footerItemsTitles {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 500px) {
  .footerInnerContainer {
    width: 80%;
    padding-top: 1em;
  }
  .footerItems {
    font-size: 0.3em;
  }
  .footerItemsTitles {
    font-size: 0.4em;
  }
  .footerDivider {
    height: 0.05em;
  }
}

@media screen and (max-width: 400px) {
  .footerItems {
    font-size: 0.2em;
  }
  .footerItemsTitles {
    font-size: 0.3em;
  }
}
